/*******************/
/* SOFT RESET*/
/*******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*******************/
/* GENERAL*/
/*******************/

body {
  background-image: url(../images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 100vw; */
  background-position: left;
  /* text-align: center; */
  /* margin: 0 auto; */
  position: relative;
}

/**********************/
/* MAIN CONTAINER*/
/**********************/

.main {
  position: absolute;
  top: 45%;
  left: 31%;
  /* padding-top: 25%; */
  /* max-width: 70%; */
}

/*******************/
/* H1 HEADING*/
/*******************/

h1 {
  font-size: 3.2rem;
  color: rgb(237, 233, 233);
  margin-bottom: 3rem;
  background-color: rgba(38, 37, 37, 0.711);
  width: fit-content;
}

/***************/
/* FORM*/
/***************/

form {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/******************************/
/* INPUT & LABEL CONTAINER*/
/*****************************/

.from-div,
.to-div {
  display: inline;
}

.from-div {
  margin-right: 1rem;
}

label,
.button2 {
  background-color: red;
  color: white;
}

label {
  padding: 0.5rem 1rem;

  margin-right: -0.2rem;
}

input {
  padding: 0.7rem 1rem;
  border-style: none;
}

/**********************/
/*BUTTON CONTAINER*/
/**********************/

.button-div {
  margin-top: 1rem;
  text-align: right;
}

.button1 {
  background-color: rgba(255, 255, 255, 0.659);
  color: red;
  border: 1px solid red;
  padding: 0.5rem 2rem;
}

.button2 {
  border: 1px solid red;
  margin-left: 2.1rem;
  padding: 0.5rem 1rem;
}

.button1:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.button2:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

/*******************/
/* MEDIA QUERY*/
/*******************/

/* Desktop 992px */

@media screen and (max-width: 992px) {
  h1 {
    color: rgb(250, 152, 99);
    font-size: 2.8rem;
  }

  .main {
    position: absolute;
    top: 45%;
    left: 27%;
  }

  input {
    width: 35%;
  }

  .button-div {
    width: 93%;
  }

  .button1 {
    padding: 0.5rem 1.2rem;
  }
  .button2 {
    margin-left: 1.2rem;
  }
}

/* Tablet 768px */

@media screen and (max-width: 768px) {
  h1 {
    color: rgb(184, 253, 197);
    font-size: 2.5rem;
  }

  .main {
    position: absolute;
    top: 45%;
    left: 20%;
  }

  input {
    width: 30%;
  }

  .button-div {
    width: 85%;
  }

  .button1 {
    padding: 0.5rem 1.2rem;
  }
  .button2 {
    margin-left: 0.8rem;
  }
}

/* Small Tablet 670px */

@media screen and (max-width: 670px) {
  h1 {
    color: rgb(160, 157, 245);
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .main {
    position: absolute;
    top: 45%;
    left: 17%;
  }

  .button-div {
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
  }

  .from-div,
  .to-div {
    display: block;
    margin: 0 5rem;
  }

  .from-div input {
    width: 60%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .to-div input {
    width: 68%;
  }

  .both-inputs {
    text-align: center;
  }

  .button1 {
    padding: 0.5rem 1.2rem;
  }
  .button2 {
    margin-left: 0.8rem;
  }
}

/* Large Mobile 550px */

@media screen and (max-width: 550px) {
  h1 {
    color: rgb(233, 131, 208);
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .main {
    position: absolute;
    top: 45%;
    left: 10%;
  }
}

/* Small Mobile 375px */

@media screen and (max-width: 375px) {
  h1 {
    color: rgb(119, 222, 250);
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .main {
    position: absolute;
    top: 45%;
    left: 5%;
  }

  .button-div {
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
  }

  .from-div,
  .to-div {
    display: block;
    margin: 0 5rem;
  }

  .from-div input {
    width: 40%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .to-div input {
    width: 50%;
  }

  .both-inputs {
    text-align: center;
  }

  .button1 {
    background-color: rgba(255, 255, 255, 0.727);
    color: red;
    border: 1px solid red;
    padding: 0.5rem 1.2rem;
  }

  .button2 {
    margin-left: 0.8rem;
  }
}
